<h2>New lemonade type</h2>

<% if @lemonade_type %>
  <% @lemonade_type.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for :lemonade_type, url: lemonade_types_path do |f| %>
  <p>
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </p>
 
  <p>
    <%= f.label :color %><br>
    <%= f.select :color, ['yellow', 'pink', 'orange'] %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
